html * {
    font-size: 1.7rem;
    font-family: Arial !important;
}

body {

    background-color: #313c51;
    font-family: Arial, sans-serif;
    color: #3c4657;
    padding: 1rem;
    margin: 0 auto 0 auto;
    padding: 0;

    /* media query CSS to limit the width of the page when the browser window is wide */
    @media (min-width: 400px) {
        max-width: 400px;
    }
}

.container {
    background-color: white;
    /* drop shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 0 1rem 0;
}

h1 {
    color: #7f93b6;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

h2 {
    color: #7f93b6;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

p {
    margin-bottom: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}
a {
    color: #326acc;
}

ul{
    padding-inline-start: 10px;
}

ul.links {
    margin-bottom: 4rem;
    list-style: none;
    
    }
    ul.links li {
        margin-bottom:3rem;
    }
   ul.links li:before {
      content: ">";
      padding-right: 1rem;
    }
    .links a {
        color: #6d87c8;
        text-decoration: none;
    }

ul.songs {
    margin-bottom: 4rem;
    list-style: none;
    }
    ul.songs li {
    margin-bottom: 20px;
      padding-left: 1em;
      text-indent: -1em;
    }
    ul.songs li:before {
      content: "♪";
      padding-right: 2rem;
    }

    .title {
        display: inline;
        color: #686868;
        font-family: Arial, sans-serif;
        font-size: 2rem;
        font-weight: bold;

    }
    .artist {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-left:2.5rem;
    }


.clippedImg {
    background-image: url("img/plage.jpg");
    height: 60px;
    width: 100%;
}

.clippedImg2 {
    background-image: url(img/plage.jpg);
    background-position: 0 -120px;
    height: 250px;
    width: 100%;
}

.clippedImg3 {
    background-image: url("img/plage.jpg");
    background-position: 0 -380px;
    height: 150px;
    width: 100%;
}

